.accountPage
  .formContents
    = search_form_for( @q, url: search_path ) do |f|
      .formContents__title
        サロン詳細検索
      .formContents__name
        サロン名
        .nameField
          = f.search_field :name_cont, autofocus: true, placeholder: "20文字以内", class: "nameField__text"
      .formContents__category
        カテゴリー選択
        .categoryField
          = f.select :category_eq, options_from_collection_for_select(Admin.categories.keys), class: "categoryField__text"
      .formContents__place
        所在地
        .placeField
          = f.select :birth_place_eq, Admin.birth_places.keys, {prompt: '選択してください'}, class: "placeField__text"
      .formContents__action
        .actionField
          = f.submit "サロンを検索する", class: "actionField__button"
