.salonMain
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .salonProfileHeader
    プロフィール詳細
  .salonProfile
    %ul.profileLists
      %li.profileLists__image
        = image_tag @admin.image.url, alt: "NoImage"
      %li.profileLists__name
        .salonName
          = @admin.name
      %li.profileLists__category
        カテゴリー
        .salonCategory
          = @admin.category
      %li.profileLists__birth
        所在地
        .salonBirth
          = @admin.birth_place
      %li.profileLists__profile
        プロフィール
        .salonInProfile
          = @admin.profile
  -if user_signed_in?
    - if @admin_ids.include?(@admin.id)
      .messageAfter
        = link_to "チャットルーム", room_path(current_user.rooms.find_by(admin_id: @admin.id))
    - else
      = form_for Room.new do |f|
        = f.hidden_field :admin_id, :value => @admin.id
        .messageBefore
          = f.submit "メッセージを送る", class: "messageBefore__button"
    %ul#favoriteBtn
      = render partial: "salonfavorites/favorite", locals: { admin: @admin}
    .subscriptionButton
      申し込む！
    = render partial: "layouts/footer"
  -else
    = render partial: "layouts/footer"