.salon-main
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .salon-profile-header
    プロフィール詳細
  .salon-profile
    %ul.profileLists
      %li.profileLists__image
        = image_tag @admin.image.url, alt: "NoImage"
      %li.profileLists__name
        サロン名
        .salonName
          = @admin.name
      %li.profileLists__category
        カテゴリー
        .salonCategory
          = @admin.category
      %li.profileLists__birth
        所在地
        .salonBirth
          = @admin.birth_place
      %li.profileLists__profile
        プロフィール
        .salonProfile
          = @admin.profile
  -if user_signed_in?
    %ul.buttonLists
      %li.buttonLists__message
        メッセージを送る
    %ul#favoriteBtn
      = render partial: "salonfavorites/favorite", locals: { admin: @admin}
    .subscriptionButton
      申し込む！
    = render partial: "layouts/footer"
  -else
    = render partial: "layouts/footer"