.skillupSalonMain
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .bgOpacity
    .skillupSalonPageHeader
      スキルアップ
    = render partial: "layouts/salon-profile"
    = render partial: "layouts/salon-pagenate"
    = render partial: "layouts/footer"