.accountPage
  .formContents
    = form_for(current_admin) do |f|
      .formContents__title
        アカウント編集
      = devise_error_messages!
      .formContents__image
        アイコン画像
        .imageBox
          = f.label :image, class: "formImage" do
            = icon("fa", "camera") 
            選択
            = f.file_field :image, class: "imageField"
        - if @admin.image.present?
          = image_tag @admin.image.url, class: "imgPrev"  
        - else
          = image_tag "noimage.png", class: "imgPrev"
        :javascript
          $(function() {
            function readURL(input) {
              if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
            $('.imgPrev').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
              }
            }
            $(".imageField").change(function(){
              readURL(this);
            });
          });
      .formContents__name
        サロン名
        .nameField
          = f.text_field :name, autofocus: true, placeholder: "20文字以内", class: "nameField__text"
      .formContents__category
        カテゴリー選択
        .categoryField
          = f.select :category, Admin.categories.keys, {prompt: '選択してください'}, class: "categoryField__text"
      .formContents__place
        所在地
        .placeField
          = f.select :birth_place, User.birth_places.keys, {prompt: '選択してください'}, class: "placeField__text"
      .formContents__profile
        プロフィール
        .profileField
          = f.text_area :profile, class: "profileField__text", rows: "7"
      .formContents__email
        メールアドレス
        .emailField
          = f.email_field :email, class: "emailField__text"
      .formContents__action
        .actionField
          = f.submit "更新する", class: "actionField__button"
      .formContents__back
        = link_to "ログアウト", destroy_admin_session_path, method: :delete
        %br
        = link_to "トップページに戻る", :back