.accountPage
  .formContents
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .formContents__title
        新規サロンアカウント作成
      .formContents__image
        アイコン画像
        %span 必須
        .imageField
          = f.file_field :image
      .formContents__name
        サロン名
        %span 必須
        .nameField
          = f.text_field :name, autofocus: true, placeholder: "20文字以内", class: "nameField__text"
      .formContents__category
        カテゴリー選択
        %span 必須
        .categoryField
          = f.select :category, Admin.categories.keys, {prompt: '選択してください'}, class: "categoryField__text"
      .formContents__place
        所在地
        %span 必須
        .placeField
          = f.select :birth_place, Admin.birth_places.keys, {prompt: '選択してください'}, class: "placeField__text"
      .formContents__profile
        プロフィール
        %span 必須
        .profileField
          = f.text_area :profile, class: "profileField__text", rows: "7"
      .formContents__email
        メールアドレス
        %span 必須
        .emailField
          = f.email_field :email, class: "emailField__text"
      .formContents__password
        パスワード（英数字8文字以上）
        %span 必須
        .passwordField
          = f.password_field :password, autocomplete: "off", class: "passwordField__text"
      .formContents__password
        パスワード（再確認）
        %span 必須
        .passwordField
          = f.password_field :password_confirmation, autocomplete: "off", class: "passwordField__text"
      .formContents__action
        .actionField
          = f.submit "アカウントを作成する", class: "actionField__button"
      .formContents__back
        = render "admins/shared/links"
