.favoritesMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .favoritesPageHeader
    お気に入りのユーザー
  .profileContents
    - @userfavorites.each do |userfavorite|
      = link_to user_path(userfavorite.user.id) do
        .profileContents__image
          = image_tag userfavorite.user.image.url, alt: "NoImage"
        .profileContents__name
          = userfavorite.user.name
        .profileContents__sex
          性別
          .profileContents__sex--text
            = userfavorite.user.sex
        .profileContents__birth
          居住地
          .profileContents__birth--text
            = userfavorite.user.birth_place
  .back
    = link_to "トップページに戻る", salontoppage_path
  = render partial: "layouts/user-favorites-pagenate"
  = render partial: "layouts/footer"