.tokyoUserMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bgOpacity
    .tokyoUserPageHeader
      東京都
    = render partial: "layouts/user-profile"
    = render partial: "layouts/user-pagenate"
    = render partial: "layouts/footer"