.tokyoUserMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bgOpacity
    .tokyoUserPageHeader
      東京都
    = render partial: "layouts/user-profile"
    .back
      = link_to "トップページに戻る", root_path
    = render partial: "layouts/user-pagenate"
    = render partial: "layouts/footer"