.favoritesMain
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .favoritesPageHeader
    お気に入りのサロン
  .profileContents
    - @salonfavorites.each do |salonfavorite|
      = link_to admin_path(salonfavorite.admin.id) do
        .profileContents__image
          = image_tag salonfavorite.admin.image.url, alt: "NoImage"
        .profileContents__name
          = salonfavorite.admin.name
        .profileContents__category
          カテゴリー
          .profileContents__category--text
            = salonfavorite.admin.category
        .profileContents__birth
          所在地
          .profileContents__birth--text
            = salonfavorite.admin.birth_place
  .back
    = link_to "トップページに戻る", root_path
  = render partial: "layouts/salon-favorites-pagenate"
  = render partial: "layouts/footer"