.user-main
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .user-profile-header
    プロフィール詳細
  .user-profile
    %ul.profileLists
      %li.profileLists__image
        = image_tag @user.image.url, alt: "NoImage"
      %li.profileLists__name
        ユーザー名
        .userName
          = @user.name
      %li.profileLists__sex
        性別
        .userSex
          = @user.sex
      %li.profileLists__birth
        居住地
        .userBirth
          = @user.birth_place
      %li.profileLists__profile
        プロフィール
        .userProfile
          = @user.profile
  -if admin_signed_in?
    %ul.buttonLists
      %li.buttonLists__message
        メッセージを送る
    %ul#favoriteBtn
      = render partial: "userfavorites/favorite", locals: { user: @user}
    = render partial: "layouts/footer"
  -else
    = render partial: "layouts/footer"