.userMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .userProfileHeader
    プロフィール詳細
  .userProfile
    %ul.profileLists
      %li.profileLists__image
        = image_tag @user.image.url, alt: "NoImage"
      %li.profileLists__name
        .userName
          = @user.name
      %li.profileLists__sex
        性別
        .userSex
          = @user.sex
      %li.profileLists__birth
        居住地
        .userBirth
          = @user.birth_place
      %li.profileLists__profile
        プロフィール
        .userInProfile
          = @user.profile
  -if admin_signed_in?
    - if @user_ids.include?(@user.id)
      .messageAfter
        = link_to "チャットルーム", room_path(current_admin.rooms.find_by(user_id: @user.id))
    - else
      = form_for Room.new do |f|
        = f.hidden_field :user_id, :value => @user.id
        .messageBefore
          = f.submit "メッセージを送る", class: "messageBefore__button"
    %ul#favoriteBtn
      = render partial: "userfavorites/favorite", locals: { user: @user}
    .back
      = link_to "トップページに戻る", salontoppage_path
    = render partial: "layouts/footer"
  -else
    .back
      = link_to "トップページに戻る", salontoppage_path
    = render partial: "layouts/footer"