.newUserMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bgOpacity
    .newUserPageHeader
      新着ユーザー
    = render partial: "layouts/user-profile"
    = render partial: "layouts/user-pagenate"
    = render partial: "layouts/footer"