.main
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .newSalonHeader
    新着サロン
    = link_to "もっと見る >", newsalonpage_path
  = render partial: "layouts/salon-profile"
  = render partial: "layouts/salon-information-menu"
  = render partial: "layouts/footer"
 