.fukuoka-user-main
  .fukuoka-bg-opacity
    .fukuoka-user-page-header
      福岡県
    .fukuoka-user-profile-header
      .fukuoka-user-profile
        - @users.each do |user|
          .image
            = image_tag user.image.url, alt: "NoImage"
          %br
          【ユーザー名】
          = user.name
          【性別】
          = user.sex
          %br
          【出身地】
          = user.birth_place
          %br
          = link_to "=詳細=", user_path(user), method: :get
          %br
          %br
          %br