.foodSalonMain
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .bgOpacity
    .foodSalonPageHeader
      フード・グルメ
    = render partial: "layouts/salon-profile"
    .back
      = link_to "トップページに戻る", root_path
    = render partial: "layouts/salon-pagenate"
    = render partial: "layouts/footer"