.chiba-user-main
  .chiba-bg-opacity
    .chiba-user-page-header
      千葉県
    .chiba-user-profile-header
      .chiba-user-profile
        - @users.each do |user|
          .image
            = image_tag user.image.url, alt: "NoImage"
          %br
          【ユーザー名】
          = user.name
          【性別】
          = user.sex
          %br
          【出身地】
          = user.birth_place
          %br
          = link_to "=詳細=", user_path(user), method: :get
          %br
          %br
          %br