.chibaUserMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bgOpacity
    .chibaUserPageHeader
      千葉県
    = render partial: "layouts/user-profile"
    = render partial: "layouts/user-pagenate"
    = render partial: "layouts/footer"