.header
  .header__headerLeft
    .logo
      Branch Community
      = icon('fa', 'tree')
  .header__headerRight
    -if user_signed_in?
      = image_tag current_user.image.url, alt: "NoImage"
      .userName 
        = current_user.name 
        様
      .icons
        .icons__icon
          = link_to edit_user_registration_path(current_user) do
            = icon('fas', 'user')
        .icons__icon
          = link_to admin_salonfavorites_path(current_user) do
            = icon('fa', 'star')
        .icons__icon
          = link_to rooms_path(current_user) do
            = icon('fa', 'envelope')
    -else
      .signHeader
        .signSalon
          =link_to "サロン運営者様 新規登録・ログイン", new_admin_session_path
        .signUser
          =link_to "ユーザー様 新規登録・ログイン", new_user_session_path