.header
  .header__header-left
    .logo
      Branch Community
      = icon('fa', 'tree')
  .header__header-right
    = image_tag current_admin.image.url, alt: "NoImage"
    .user-name
      = current_admin.name 
      様
    .icons
      .icons__icon
        = link_to edit_admin_registration_path(current_admin) do
          = icon('fas', 'user')
      .icons__icon
        = link_to user_userfavorites_path(current_admin) do
          = icon('fa', 'star')