.salonProfileContents
  - @admins.each do |admin|
    = link_to admin do
      = image_tag admin.image.url, alt: "NoImage"
      %br
      【サロン名】
      %br
      = admin.name
      %br
      【カテゴリー】
      %br
      = admin.category
      %br
      【所在地】
      %br
      = admin.birth_place
      %br