.salonProfileContents
  - @admins.each do |admin|
    = link_to admin do
      .salonProfileContents__image
        = image_tag admin.image.url, alt: "NoImage"
      .salonProfileContents__name
        = admin.name
      .salonProfileContents__category
        カテゴリー
        .salonProfileContents__category--text
          = admin.category
      .salonProfileContents__birth
        所在地
        .salonProfileContents__birth--text
          = admin.birth_place