.header
  .header__headerLeft
    .logo
      Branch Community
      = icon('fa', 'tree')
  .header__headerRight
    = image_tag current_admin.image.url, alt: "NoImage"
    .userName
      = current_admin.name 
      様
    .icons
      .icons__icon
        = link_to edit_admin_registration_path(current_admin) do
          = icon('fas', 'cog')
      .icons__icon
        = link_to user_userfavorites_path(current_admin) do
          = icon('fa', 'star')
      .icons__icon
        = link_to admin_requests_path(current_admin) do
          = icon('fa', 'users')
      .icons__icon
        = link_to rooms_path(current_admin) do
          = icon('fa', 'envelope')