.userProfileContents
  - @users.each do |user|
    = link_to user do
      .userProfileContents__image
        = image_tag user.image.url, alt: "NoImage"
      .userProfileContents__name
        = user.name
      .userProfileContents__sex
        性別
        .userProfileContents__sex--text
          = user.sex
      .userProfileContents__birth
        居住地
        .userProfileContents__birth--text
          = user.birth_place